# Ignore all .tar.gz archives
*.tar.gz

# Ignore the dataset folder
dataset/

# Ignore the Python virtual environment folder
.venv/

# Ignore pycache
__pycache__/

# Ignore runs
runs/

# ignore ds_store
.DS_Store